* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template:
    "header header  header" 100px
    "account-profile   main linkedin-news" 1fr
    "account-profile   main footer" 100px/
    200px 1fr 200px;

  width: 100vw;
  height: 100vh;
}
.header {
  padding: 5px;
  grid-area: header;
  display: grid;
  grid-template: "logo search-bar nav-bar" auto/ 50px minmax(100px, 1fr) auto;
}

.account-profile {
  display: grid;
  grid-gap: 2px;
  grid-template:
    "user-info" auto
    "user-page-info" auto
    "recent-use" auto/
    minmax(200px auto);
}

.main {
  display: grid;
  grid-template:
    "new-post" 100px
    "news-feed" 1fr /
    auto;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template:
      "header " auto
      " account-profile" 100px
      "  main   " 1fr
      " footer" 100px /
      1fr;
  }

  .user-page-info,
  .recent-use,
  .linkedin-news {
    display: none;
  }
}

.user-info,
.user-page-info,
.recent-use,
.new-post,
.news-feed {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.nav-icon {
  width: 50px;
  height: 50px;

  border: 1px solid black;
  display: inline-block;
}

.logo {
  grid-area: logo;
  background-color: rgb(63, 63, 168);
  color: aliceblue;
}
.search-bar {
  grid-area: search-bar;
  background-color: rgb(112, 112, 163);
  color: aliceblue;
}
.nav-bar {
  grid-area: nav-bar;
  background-color: rgb(193, 193, 206);
  color: aliceblue;
}
.account-profile {
  grid-area: account-profile;
  background-color: rgb(190, 152, 159);
  color: aliceblue;
}
.main {
  grid-area: main;
  background-color: rgb(226, 142, 157);
  color: aliceblue;
}
.linkedin-news {
  grid-area: linkedin-news;
  background-color: rgb(148, 45, 64);
  color: aliceblue;
}
.footer {
  grid-area: footer;
  background-color: rgb(164, 226, 164);
  color: aliceblue;
}
