* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template:
    "header header  header" 100px
    "account-profile   main linkedin-news" 1fr
    "account-profile   main footer" 100px/
    200px 1fr 200px;

  width: 100vw;
  height: 100vh;
}
.header {
  padding: 5px;
  grid-area: header;
  display: grid;
  grid-template: "logo search-bar nav-bar" auto/ 50px minmax(100px, 1fr) auto;
}

.account-profile {
  display: grid;
  grid-gap: 2px;
  grid-template:
    "user-info" auto
    "user-page-info" auto
    "recent-use" auto/
    minmax(200px auto);
}

.main {
  display: grid;
  grid-template:
    "new-post" 100px
    "news-feed" 1fr /
    auto;
}

.news-feed {
  display: grid;
  grid-area: news-feed;

  overflow: scroll;
  grid-gap: 20px;

  border: 1px solid black;
  display: grid;
  place-items: center;

  padding: 10px;
}

.post {
  display: grid;

  border: 1px solid gray;
  border-radius: 5px;

  width: 100%;
  background-color: wheat;

  grid-template:
    "post-icon post-name" 70px
    "post-content post-content" auto
    "post-image post-image" 300px/
    70px 1fr;
}
.post-icon {
  display: grid;
  grid-area: post-icon;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  place-content: center;
}

.post-name {
  display: grid;
  grid-area: post-name;
  grid-gap: 20px;
  border: 1px solid black;
  padding-top: 5px;
}
.post-content {
  display: grid;
  grid-area: post-content;
  grid-gap: 20px;
  border: 1px solid black;
  padding: 5px;
}
.post-image {
  display: grid;
  grid-area: post-image;
  grid-gap: 20px;

  background-image: url(https://images.pexels.com/photos/4218323/pexels-photo-4218323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template:
      "header " auto
      " account-profile" 100px
      "  main   " 1fr
      " footer" 100px /
      1fr;
  }

  div.user-page-info,
  div.recent-use,
  .linkedin-news {
    display: none;
  }
}

.user-info,
.user-page-info,
.recent-use {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.new-post {
  border: 1px solid black;
  display: grid;
  padding: 5px;
}

input[type="text"] {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
}

.nav-icon {
  width: 50px;
  height: 50px;

  border: 1px solid black;
  display: inline-block;
}

.logo {
  grid-area: logo;
  background-color: rgb(63, 63, 168);
  color: aliceblue;
}
.search-bar {
  grid-area: search-bar;
  background-color: rgb(112, 112, 163);
  color: aliceblue;
}
.nav-bar {
  grid-area: nav-bar;
  background-color: rgb(193, 193, 206);
  color: aliceblue;
}
.account-profile {
  grid-area: account-profile;
  background-color: rgb(190, 152, 159);
  color: aliceblue;
}
.main {
  grid-area: main;
  background-color: rgb(226, 142, 157);
}
.linkedin-news {
  grid-area: linkedin-news;
  background-color: rgb(148, 45, 64);
  color: aliceblue;
}
.footer {
  grid-area: footer;
  background-color: rgb(164, 226, 164);
  color: aliceblue;
}
