* {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template:
    "left-menu message-list contact-status-bar chat-setting-bar" 50px
    "left-menu message-list contact-info contact-info" 150px
    "left-menu message-list chatbox chatbox" 1fr
    "left-menu account-setting chatbox chatbox" 50px/
    80px 200px minmax(100px, 1fr) 250px;

  width: 100vw;
  height: 100vh;
}

.left-menu {
  grid-area: left-menu;
  display: grid;
  background-color: rgb(63, 63, 168);
  grid-auto-rows: max-content;
  grid-gap: 10px;
  place-items: center;
  padding-top: 10px;
}

.menu-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  border: 1px solid black;
  display: inline-block;
}

.message-list {
  grid-area: message-list;
  display: grid;
  grid-template:
    "new-conversation " 50px
    "add-friends" 80px
    "direct-messages" 1fr/
    100%;
  grid-gap: 10px;
  padding: 5px;
}

.new-conversation {
  grid-area: new-conversation;
}

.new-conversation input[type="text"] {
  padding: 10px 0px;
  border-radius: 4px;
  background-color: #4d4d4d;
  color: rgb(165, 164, 164);
  width: 100%;
}

.add-friends {
  grid-area: add-friends;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
}

.direct-messages {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 5px;
  overflow: scroll;
}

.friend {
  display: grid;
  width: 100%;
  height: 60px;
  background-color: rgb(170, 169, 169);
  border-radius: 5px;
  padding: 5px;
  grid-template:
    "friend-icon friend-name" auto/
    50px 1fr;
  grid-gap: 10px;
}

.friend-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: royalblue;
  border-radius: 50%;
}
.friend-name {
  display: grid;
  align-content: center;
  overflow: hidden;
}

.contact-status-bar {
  grid-area: contact-status-bar;
  background-color: rgb(16, 16, 255);
  color: aliceblue;
}
.chat-setting-bar {
  grid-area: chat-setting-bar;
  background-color: rgb(190, 152, 159);
  color: aliceblue;
}
.contact-info {
  grid-area: contact-info;
  background-color: rgb(226, 142, 157);
  color: aliceblue;
}

.chatbox {
  grid-area: chatbox;
  background-color: rgb(148, 45, 64);
  color: aliceblue;
}

.account-setting {
  grid-area: account-setting;
  background-color: burlywood;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template:
      "left-menu message-list  chat-setting-bar" 50px
      "left-menu message-list  contact-info" 150px
      "left-menu message-list chatbox" 1fr
      "account-setting account-setting  chatbox" 50px/
      0.5fr 1fr 2fr;
  }
  .contact-status-bar {
    display: none;
  }
  .menu-icon {
    width: 40px;
    height: 40px;
  }
}
